<!DOCTYPE html>
<html>
  <head>
    <title>FnapChat</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
	<body>
	<div style='margin-left: 150px;'>
	<p>Home</p>
	<a href='/new'>
	<button class='btn btn-primary'>New Snap</button>
	</a>
	</div>
	<% @num = 0 %>
	<% @snaps.each do |snap| %>
    <% if(snap.read == "false") %>
			<div class='tweet' id='div<%= @num %>'>
			<!-- 	do in html works with eeach element inside so this comment happens 3 times	 -->
				<p> <%= snap.caption %> ||| <%= snap.timer %> ||| <%= snap.time %> |||<br> <img id='snap<%=@num%>' style='visibility: hidden; max-height: 300px; max-width: 300px;' src='<%= snap.link %>'> </p>
				
				<button class='btn btn-outline' onclick="show<%= @num %>()"> View Snap </button>
        <% snap.read=("true") %>
        <% snap.save %>
		</div>
		<br><br>
		<script>
			function show<%= @num %>() {
				document.getElementById('snap<%=@num%>').style.visibility = 'visible';
				setTimeout(hide<%= @num %>, <%= (snap.timer).to_i * 1000 %>)
			}
			function hide<%= @num %>() {
					document.getElementById('snap<%=@num%>').style.visibility = 'hidden';
					document.getElementById('div<%=@num%>').style.visibility = 'hidden';
				}
		</script>
		<% @num += 1 %>
    <% end %>
		<% end %>
  </body>
</html>